target/
bin/
.settings/
.classpath
.project
.idea/
*.iml
gmall-api/src/main/resources/
gmall-api/src/test/
gmall-common-util/src/main/resources/
gmall-common-util/src/test/
gmall-parent/src/
gmall-service-util/src/main/resources/
gmall-service-util/src/test/
gmall-web-util/src/main/resources/
gmall-web-util/src/test/
